@charset "UTF-8";

/*
HTML = id\ CSS = #
HTML = class\ CSS = .
*/

body{
    background-image: linear-gradient(to right, #00E3CC, #32A89C);
}

h1{
    color: rgb(4, 4, 95);
}

#principal{
    text-align: center;
    background-color: rgb(1, 35, 40);
    color: white;
}

h2{
    color: rgb(59, 58, 58);
}