@charset "UTF-8";

/*
HTML = id\ CSS = # (Só pode um elemento por página)
HTML = class\ CSS = . (Pode vários elementos )
*/

body {
    background-image: linear-gradient(to right, #00E3CC, #32A89C);
}

h1 {
    color: rgb(4, 4, 95);
}

#principal {
    text-align: center;
    color: white;
}

h2 {
    color: rgb(59, 58, 58);
}

.basico {
    color: rgb(1, 110, 1);
}

.intermediario {
    color: rgb(238, 255, 3);
}

.avancado {
    color: red;
}

.destaque {
    background-color: rgba(212, 255, 0, 0.581);
}